ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  *,
  ::after,
  ::before {

  }
  body {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
  }
  
  .container {
    font-family: 'Red Hat Text';
    font-style: normal;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

a {
  color: inherit;
  text-decoration: none;
}


/*Header*/

.header {
    background-color: #F2785C;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    height: 90px;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  }
  
  .header__inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
  }
  .header__title{
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
  }

  .header__left {
    display: flex;
    align-items: baseline;
    gap: 6px; 
  }

  .header__logo {
    
  }
  .nav {
    display: flex;
    gap: 42px;
  }
  
  .nav__link li {
    
   }
  
  .header__button{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    padding: 10px 30px;
    border: 0px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    color:white;
  }

  .welcome {
    height: 765px;
    background: url(./assets/main/garrett-parker-DlkF4-dbCOU-unsplash\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .welcome__item {
    width: 892px;
    height: 422px;
    padding-top: 122px;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
  }
  .welcome__text1 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
  }
.welcome__text2{
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.welcome__search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;

}
.Welcome_text3{
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  margin-left: 41px;
}
.welcome__button{
  padding: 10px 32px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color:white;
  border:0px;
  margin-right: 18px;
}



.steps{
  width: 1177px;
  height: 247px;
}

.steps__item{
  position: absolute;
  width: 1177px;
  margin-top: 80px;
  margin-left: 131px;
}

.steps__title{
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  margin-left: 283px;
  margin-bottom: 40px;
}

.steps__menu{
  height: 154px;
}
.steps__image {
  width: 100px;
  height: 100px;
}
.steps__link{
  display: flex;
  justify-content: space-between;
  height: 154px;
}

.steps__text{
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
  margin-top: 30px;
}

.steps__link1{
  display: flex;
  flex-direction: column;
  align-items: center;
}