ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
  }
  
  .container {
    font-family: 'Red Hat Text';
    font-style: normal;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

a {
  color: inherit;
  text-decoration: none;
}
.button{

}

/*Header*/

.header {
    background-color: #F2785C;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  }
  
  .header__inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
  }
  .header__title{
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
  }

  .header__left {
    display: flex;
    align-items: baseline;
  }

  .header__logo {
    margin-right: 6px;
  }
  .nav {
    display: flex;

  }
  
  .nav__link {
    margin-right: 42px;
   }

   .nav__link:last-child{
    margin-right: 0;
   }
  
  .header__button{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    padding: 10px 30px;
    border: 0px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    color:white;
  }

  .welcome {
    height: 765px;
    background: url(./assets/main/garrett-parker-DlkF4-dbCOU-unsplash\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .welcome__content {
    width: 892px;
    height: 422px;
    padding-top: 122px;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
  }
  .welcome__explore {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
  }
.welcome__receive{
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.welcome__search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;

}
.Welcome_like{
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  margin-left: 41px;
}
.welcome__button{
  padding: 10px 32px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color:white;
  border:0px;
  margin-right: 18px;
}



.steps{
  height: 247px;
}

.steps__content{
  margin-top: 80px;
}

.steps__title{
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
}

.steps__image {
  width: 100px;
  height: 100px;
}
.steps__link{
  display: flex;
  justify-content: space-between;
  height: 154px;
  margin-top: 40px;
}

.steps__text{
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
  margin-top: 30px;
}

.steps__link1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destinations{
  margin-top: 97px;
}
.slider_steps{
  width: 100vw;
  height: 800px;
  position: relative;
  overflow: hidden;
}
.slider__inner{
  position: absolute;
  margin-top: 46px;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.5s linear;
}
.slider__item{
  width: 800px;
  height: 800px;
  margin-right: 60px;
  border-radius: 16px;
}

.slider__item:last-child{
  margin-right: 0;
 }
 .slider__hug{
  display: flex;
  width: 80px;
  height: 20px;
  justify-content: space-between;
  margin-top: 24px;
  margin-left: 50%;
  transform: translate(-50%, 0);
 }
 .hug__item{
  width: 20px;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 50px;
 }
   .hug__item:nth-child(2){
    background: #F2785C;
  }

  .slider__button{
  padding: 10px 32px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color:white;
  border:0px;
  margin-right: 18px;
  width: 228px;
  height: 59px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

  .stories{
  }
.stories_bg{
  height: 1270px;
  background: url(./assets/stories/Rectangle\ 33.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  margin-top: 50px;
}
.stories__title{

}

.stories__inner{
margin-top: 80px;
}

.stories__item{
  display: flex;
}
